<div class="pagehome">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <h2>
          <i class="fas fa-list-alt" id="darkred"></i>
          <span> Todo List App</span>
        </h2>
      </div>

      <div class="col-md-6" id="spaceAdd">
        <form class="example-form">
          <mat-form-field>
            <input matInput placeholder="Yapılacak Yeni Madde Ekle"#newTodo/>
          </mat-form-field>
          <button mat-flat-button color="warn" type="submit" (click)="addTodo(newTodo)" id="add" >Ekle</button>
        </form>
      </div>  
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <mat-card class="d-flex">
          <div class="example-container">
            <h5>Bekleyen Aktiviteler</h5>
          
            <div
              cdkDropList
              #pendingsList="cdkDropList"
              [cdkDropListData]="data.pendings"
              [cdkDropListConnectedTo]="[inProgressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>{{item.todo}}
                  <i class="fas fa-user-clock" style="font-size:2em; color: rgba(248, 173,12,1)"></i>
              </div>
            </div>
          </div>
          
          <div class="example-container">
            <h5>Yapım Aşamasında Olan Aktiviteler</h5>
          
            <div
              cdkDropList
              #inProgressList="cdkDropList"
              [cdkDropListData]="inProgress"
              [cdkDropListConnectedTo]="[pendingsList,doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item.todo}}
              <i class="fas fa-running" style="font-size:2em;color: lightblue;"></i>
              </div>
            </div>
          </div>

          <div class="example-container">
            <h5>Geçmiş Aktiviteler</h5>
          
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[inProgressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag>
                {{item.todo}}
                <i class="fas fa-check-circle" style="font-size:2em;color: rgb(20, 231, 20);"></i>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mt-2">
        <small><i class="fas fa-copyright"></i> Copyright 2019 TodoList APP</small>
      </div>
    </div>
  </div>
</div>
