@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
background-color: ghostwhite;
}
.pagehome{
    padding: 150px 0;
}
.mat-form-field-infix{
    width: 100% !important;
    margin-right: 50px;
} 
